/*==========================
	Custom css
==========================*/

/* Body */

.page-content {
    padding: 0;
}

.mCustomScrollBox {
    width: 100%;
}

.content-inner {
    padding-top: 100px;
    padding-bottom: 70px;
}

.content-inner-2 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.bg-pink-light {
    background-color: #ffebeb;
}

.video-bnr {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#video-background {
    position: absolute;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

.video-bnr:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.2;
}

.video-bnr .sub-title {
    color: #ff007c;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 0;
}

.video-bnr .title {
    font-size: 8vw;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 0;
}

.video-bnr .content {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

/* Header */

.contant-block {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 1;
}

/* Section head */

.section-head.text-center {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.section-head .main-title {
    font-family: 'Great Vibes', cursive;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 5px;
}

.section-head .title {
    font-size: 62px;
    line-height: 66px;
    font-weight: 800;
    margin-bottom: 10px;
}

.section-head .sub-title {
    color: #c7b9a9;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
}

.section-head p {
    font-size: 14px;
    line-height: 24px;
}

.dlab-separator {
    width: 40%;
    height: 1px;
    margin: 15px auto 10px;
    background-color: rgba(0, 0, 0, .09);
}

.section-head.full-head {
    width: 100%;
}

/* About Gallery List */

.about-gallery-list {
    display: flex;
    flex-wrap: wrap;
}

.about-gallery-list li {
    display: inline-block;
    width: 50%;
    padding: 7px;
}

.about-gallery-list li img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.1s;
}

.about-gallery-list li:hover img {
    opacity: 0.5;
    transition: all 0.1s;
}

/* Menu Tabs */

.menu-tabs .nav-tabs {
    justify-content: center;
    margin-bottom: 50px;
    border: 0;
}

.menu-tabs .nav-tabs li a span {
    font-weight: 700;
}

.menu-tabs .nav-tabs li a {
    font-family: 'Abhaya Libre', serif;
    background-color: #fff;
    color: #000;
    text-transform: capitalize;
    font-size: 18px;
    padding: 20px 50px;
    letter-spacing: 2px;
    text-align: center;
    border: 1px solid rgba(229, 46, 113, 0.1);
    border-width: 1px 1px 1px 0;
}

.menu-tabs .nav-tabs li:first-child a {
    border-left: 1px solid rgba(229, 46, 113, 0.1) !important;
}

.menu-tabs .nav-tabs li a i {
    font-size: 50px;
    display: block;
    line-height: 50px;
    margin-bottom: 5px;
    margin-right: 0;
}

.menu-tabs .nav-tabs li a.active i,
.menu-tabs .nav-tabs li a:hover i {
    color: #fff;
}

.menu-tabs .nav-tabs li a.active,
.menu-tabs .nav-tabs li a.active:hover,
.menu-tabs .nav-tabs li a.active:focus,
.menu-tabs .nav-tabs li a:hover {
    background-color: var(--color-primary);
    color: #fff;
    border-color: var(--color-primary);
}

/* Menu List */

.menu-list {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.95);
    margin-bottom: 30px;
}

.menu-list li {
    width: 50%;
    display: flex;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
    padding: 15px 20px 20px 15px;
    position: relative;
    align-items: center;
}

.menu-list li .title {
    font-family: Merriweather, serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0px;
}

.menu-list li .description {
    color: #9e9e9e;
    font-family: 'Droid Sans', sans-serif;
    font-size: 13px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 0;
}

.menu-list li .price {
    margin-bottom: 0;
    font-family: 'Abhaya Libre', serif;
    color: var(--color-primary);
    padding: 5px 6px;
    border-radius: 3px;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
}

.menu-list li .item-right {
    margin-left: auto;
}

.menu-list .item-left {
    padding-left: 75px;
    position: relative;
    padding-top: 5px;
}

.menu-list .item-left img {
    width: 60px;
    position: absolute;
    left: 0;
    top: 0px;
}

/* dlab-bnr-inr */

.dlab-bnr-inr {
    height: 400px;
}

.dlab-bnr-inr-entry {
    display: table-cell;
    vertical-align: middle;
}

.dlab-bnr-inr h1 {
    font-weight: 800;
    font-size: 62px;
    margin-bottom: 10px;
    line-height: 66px;
    text-transform: capitalize;
}

.dlab-bnr-inr .sub-title {
    color: #c7b9a9;
    font-family: 'Great Vibes', cursive;
    text-transform: capitalize;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 0;
}

/* About Rating */

.rating-box {
    margin: 0 30px;
}

.rating-box .rating-star {
    margin-bottom: 0;
}

.rating-box .rating-star li {
    display: inline-block;
    font-size: 24px;
}

.rating-box .rating-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
    font-weight: 400;
}

.rating-box p {
    margin-bottom: 15px;
}

.rating-box .rating-name {
    font-size: 14px;
    margin: 0;
    line-height: 24px;
}

/* Owner Profile */

.owner-profile {
    width: 50%;
    margin: 0 auto;
}

.owner-profile .owner-profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid #fff;
    margin: 0 auto 20px;
}

.owner-profile .owner-name {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 10px;
}

.owner-profile .owner-position {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
}

.owner-profile .owner-signature {
    font-family: Satisfy, sans-serif;
    color: #fff;
    font-size: 34px;
    margin-bottom: 0;
    font-weight: 300;
}

/* Contact box */

.contact-box .section-head {
    margin: 0;
    padding: 30px;
}

/* Menu tabs Style 1 */

.menu-tabs.style1 {
    padding-bottom: 70px;
}

.menu-tabs.style1 .nav-tabs {
    position: relative;
    top: -68px;
    margin-bottom: 0;
    justify-content: space-between;
    z-index: 1;
}

.menu-tabs.style1 .nav-tabs a {
    position: relative;
    padding: 16px 15px 16px 60px;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-tabs.style1 .nav-tabs li {
    width: 25%;
}

.menu-tabs.style1 .nav-tabs li h4 {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 20px;
    color: #fff;
}

.menu-tabs.style1 .nav-tabs li h6 {
    margin-bottom: 0;
    color: #fff;
    font-size: 11px;
    opacity: 0.7;
    line-height: 16px;
    font-weight: 300;
}

.menu-tabs.style1 .nav-tabs .icon-bx {
    width: 30px;
    position: absolute;
    left: 20px;
    top: 16px;
}

.menu-tabs.style1 .menu-list {
    background-color: transparent;
}

/* Site Footer */

.site-footer {
    position: relative;
}

.site-footer .copyright {
    margin-bottom: 0;
}

.site-footer .copyright-text {
    margin: 0;
    font-size: 10px;
}

.site-footer .footer-social {
    display: inline-flex;
}

.site-footer .footer-social li {
    padding: 0 2px;
}

.site-footer .footer-social li a {
    background-color: rgba(255, 255, 255, 0.3);
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 35px;
    color: #fff;
    font-size: 15px;
}

.site-footer .footer-social li a:hover {
    color: #fff;
}

/* Blog post md */

.blog-post.blog-md {
    display: flex;
    margin-bottom: 20px;
}

.blog-post.blog-md .dlab-post-media,
.blog-post.blog-md .dlab-post-info {
    width: 50%;
    flex: 0 0 50%;
    min-width: 50%;
}

.blog-post.blog-md .dlab-post-media img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.blog-post.blog-md .dlab-post-info {
    padding: 30px;
    align-self: center;
}

.blog-post.blog-md .dlab-separator {
    margin-bottom: 30px;
}

.blog-post.blog-md .post-title {
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
}

.dlab-post-meta li {
    display: inline-block;
}

.dlab-post-meta li.post-date {
    font-family: "Merriweather", sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.blog-post .dlab-post-text {
    margin-bottom: 20px;
}

.blog-post .dlab-post-text ul {
    padding-left: 30px;
}

.blog-post .dlab-post-text p {
    font-size: 14px;
    line-height: 24px;
}

.blog-single.blog-post .dlab-post-text h4 {
    margin-bottom: 15px;
}

/* Event Blog */

.event-blog .post-sub-title {
    font-family: Satisfy, sans-serif;
    font-size: 26px;
    line-height: 20px;
    margin-bottom: 10px;
}

.event-blog .post-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}

/* appointment form */

.appointment-form {
    background-color: #fff;
    padding: 50px;
}

/* Contact Form */

.contact-form-box {
    background-color: #fff;
    box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.1);
    margin: -150px 0 0;
    z-index: 99;
    position: relative;
}

.contact-form-box .contact-form {
    padding: 50px;
}

.contact-form-box .contact-form .section-head {
    width: 100%;
    margin-bottom: 30px;
}

.contact-form .form-control,
.appointment-form .form-control,
.contact-form .btn.dropdown-toggle {
    height: 50px;
    padding: 15px;
    border: 2px solid #d3e2f0;
}

.contact-form .form-group,
.appointment-form .form-group {
    margin-bottom: 15px;
}

.contact-form textarea.form-control,
.appointment-form textarea.form-control {
    height: 120px !important;
}

.contact-form .btn.dropdown-toggle {
    border: 2px solid #fff !important;
    font-family: "Merriweather", sans-serif;
    color: #495057;
}

.contact-form .btn.dropdown-toggle:hover {
    border-color: #e8e0d8 !important;
}

.contact-form .btn.dropdown-toggle:focus {
    border-color: #e88f2a !important;
}

.contact-form .bootstrap-select.btn-group .dropdown-toggle .caret {
    top: 16px;
}

.contact-form-box .contact-info {
    position: relative;
    display: flex;
    align-items: center;
}

.contact-form-box .contact-info:after {
    content: "";
    background-image: linear-gradient(to bottom, #ff007c, #ff8a00);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.9;
}

.contact-form-box .contact-info .contact-info-inner {
    z-index: 99;
    padding: 50px;
}

.contact-form-box .contact-info h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.contact-form-box .contact-info h6 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 5px;
}

.map-box {
    box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.1);
    border: 8px solid #fff;
}

/* Contact Reserve */

.contact-reserve img {
    height: 100%;
    object-fit: cover;
}

.contact-reserve {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    height: 100%;
}

.contact-reserve .contact-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 45px;
    width: 100%;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .65) 53%);
}

.contact-reserve .contact-text .title {
    font-size: 46px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 10px;
}

.contact-reserve .contact-text .sub-title {
    font-size: 22px;
    font-weight: 200;
    line-height: 22px;
    margin-bottom: 25px;
}

/* Gallery box */

.dlab-gallery-box {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
}

.dlab-gallery-box .dlab-thum img {
    transition: all 0.1s;
    width: 100%;
    min-height: 150px;
    object-fit: cover;
}

.dlab-gallery-box .icon-bx-xs {
    background-color: #fff;
    font-size: 16px;
    margin: 0 3px;
    cursor: pointer;
}

.dlab-gallery-box .dlab-info {
    background-color: #fff;
    position: absolute;
    bottom: -100%;
    left: 0;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    transition: all 0.5s;
    z-index: 99;
}

.dlab-gallery-box:hover .dlab-info {
    bottom: 0;
    transition: all 0.5s;
}

.dlab-gallery-box .dlab-info .sub-title {
    color: var(--color-primary);
}

.dlab-gallery-box .dlab-info .title {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
    font-weight: 700;
}

/* Blog Post Single */

.blog-post.blog-single {
    width: 100%;
    max-width: 100%;
    position: relative;
    z-index: 99;
    padding-left: 0;
    padding-right: 0;
}

.blog-post.blog-single .post-title {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 20px;
    font-weight: 700;
}

.dlab-bnr-inr .blog-post.blog-single {
    margin-bottom: 0;
    padding-top: 100px;
}

/* Author box */

.author-box.blog-user {
    background-color: #3d3833;
    margin: 0 -80px 0;
    padding: 15px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author-box .author-profile-info {
    display: flex;
    align-items: center;
}

.author-box .author-profile-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 5px solid #fff;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.author-box .author-profile-content p {
    margin-bottom: 0;
    font-size: 12px;
    margin-bottom: 3px;
}

.author-box .author-profile-content h6 {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 0;
}

/* Event Details */

.event-head-details {
    align-items: start;
    width: 500px;
    text-align: left;
}

.event-head-details .sub-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 25px;
}

.event-head-details p {
    margin-bottom: 0;
}

.event-details .sub-title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 0;
    font-weight: 700;
}

.event-details .title {
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 0;
}

/* Light Gallery */

.lg-outer .lg-toogle-thumb,
.lg-outer .lg-thumb-outer,
.lg-outer .lg-img-wrap,
.lg-outer .lg-item {
    background-color: #fff;
}

.lg-actions .lg-next,
.lg-actions .lg-prev,
.lg-toolbar .lg-icon,
#lg-counter {
    color: #fff;
}

.check-km {
    cursor: pointer;
}

.main-slider .slide {
    height: 100vh;
    background-position: center;
    position: relative;
    background-size: cover;
}

.main-slider .slide .content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    text-align: center;
    left: 50%;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    opacity: 0;
    width: 50%;
    transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
}

.center.active .slide .content {
    opacity: 1;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.main-slider .content span {
    font-family: Satisfy, sans-serif;
    font-size: 30px;
    line-height: 1.1;
    margin-bottom: 15px;
    display: block;
}

.main-slider .title {
    font-size: 80px;
    color: #ff007c;
    line-height: 1;
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: 800;
}

.main-slider .sub-title {
    font-size: 32px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: 1;
    text-transform: capitalize;
    font-weight: 800;
}

.main-slider a {
    margin: 0 5px;
}

.main-slider .owl-next,
.main-slider .owl-prev {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 30px 5px;
    font-size: 20px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.main-slider .owl-next:hover,
.main-slider .owl-prev:hover {
    background: #fff;
    color: #000;
}

/* about area */

.about-area .about-content {
    background-color: #fff;
    margin-left: -250px;
    margin-bottom: -15px;
    padding: 35px;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.1);
}

.about-area .about-content p {
    line-height: 24px;
}

.about-area .about-content .title {
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 15px;
}

.about-area .about-img {
    float: right;
    width: 100%;
    padding-left: 140px;
    position: relative;
    margin-bottom: 15px;
}

.about-area .about-left h2 {
    z-index: 99;
    font-weight: 800;
    position: relative;
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 1px;
}

.about-area .about-left {
    position: absolute;
    left: -90px;
    bottom: 0;
    writing-mode: vertical-rl;
}

.about-img:after {
    content: "Beauty Spa";
    background-color: rgba(229, 46, 113, 0.3);
    height: 100%;
    width: 120px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    writing-mode: vertical-rl;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Great Vibes', cursive;
    font-size: 65px;
    color: rgba(229, 46, 113, 0.5);
}

/* Blog */

.blog-post.blog-rounded:hover {
    transform: translateY(-10px);
    transition: all 0.5s;
}

.blog-post.blog-rounded {
    transition: all 0.5s;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.dlab-post-title .post-title {
    margin-bottom: 5px;
    font-weight: 600;
}

/* service box */

.service-box.style1 {
    padding: 0 20px 15px;
}

.service-box.style1 .icon-cell {
    position: relative;
    display: block;
}

.service-box.style1 .icon-cell i {
    z-index: 99;
    position: relative;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.service-box.style1 .icon-cell:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 10px;
    height: 50px;
    width: 50px;
    background-color: rgba(229, 46, 113, 0.1);
    border-radius: 50px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.service-box.style1:hover .icon-cell:after {
    width: 80px;
    height: 80px;
}

.service-box.style1:hover .icon-cell i {
    color: var(--color-primary);
}

.service-box.style1 .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.service-box.style1 .btn-link {
    color: var(--color-primary);
}

.service-box.style1 p {
    margin-bottom: 15px;
    line-height: 26px;
}

.service-box.style1 .btn-link i {
    font-size: 16px;
}

.service-box.style2 {
    margin-bottom: 55px;
}

.service-box.style2 .dlab-info {
    margin: 0 15px;
    padding: 30px 15px 40px 15px;
    text-align: center;
    background: #fff;
    margin-top: -30px;
    box-shadow: 0px 15px 30px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.service-box.style2 .dlab-info .title {
    font-weight: 900;
    margin-bottom: 10px;
}

.service-box.style2 .dlab-info p {}

.service-box.style2 .dlab-info .readmore {
    width: 45px;
    background: #ff007c;
    display: block;
    height: 45px;
    border-radius: 45px;
    color: #fff;
    line-height: 45px;
    font-size: 24px;
    bottom: -20px;
    position: absolute;
    left: 50%;
    margin-left: -22px;
}

/* services details */

.services-details .title {
    font-weight: 800;
    margin-bottom: 10px;
}

.services-details p {
    line-height: 26px;
}

.fc-button.fc-state-default {
    border-radius: 4px;
    border: 0 solid;
    color: #ffffff;
    height: auto;
    margin: 0 1px;
    padding: 10px 15px;
    text-shadow: unset;
}

.fc-state-default {
    background-image: unset;
}

.fc-button.fc-state-default:hover,
.fc-button.fc-state-default:hover,
.fc-button.fc-state-down,
.fc-button.fc-state-active {
    box-shadow: none;
}

.fc-day-header.fc-widget-header {
    border-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    padding: 14px;
}

.fc-row table {
    margin-bottom: 0 !important;
}

.fc-widget-content .fc-event {
    border: 0;
    border-radius: 0;
    padding: 5px 10px;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
    border-color: rgba(0, 0, 0, 0.1);
}

td.fc-event-container {
    color: #fff;
}

/* Dlab Team */

.dlab-team .dlab-media img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
}

.dlab-team .dlab-media {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background: #ff007c;
    z-index: 1;
}

.dlab-team .dlab-media:before {
    content: "";
    position: absolute;
    width: 235px;
    height: 235px;
    background: #fff;
    left: 3px;
    top: 3px;
    z-index: -1;
    border-radius: 100%;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.dlab-team:hover .dlab-media:before {
    left: 12px;
    top: 12px;
}

.dlab-team .overlay-bx {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 220px;
    height: 220px;
    text-align: center;
    z-index: 10;
    visibility: hidden;
    background: rgba(255, 188, 0, 0);
    border-radius: 100%;
    opacity: 0;
}

.dlab-team:hover .overlay-bx {
    background: rgba(255, 188, 0, 0.8);
}

.dlab-team .dlab-info {
    text-align: center;
    padding-top: 20px;
}

.dlab-team .dlab-info .dlab-title {
    margin-bottom: 5px;
    font-weight: 800;
}

.dlab-team .dlab-info .dlab-position {
    text-transform: uppercase;
    color: #ff007c;
    letter-spacing: 1px;
}

.dlab-team .dlab-social-icon li a {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 35px;
    color: #ff007c;
    padding: 0;
    line-height: 35px;
    font-size: 16px;
}

/* Home 3 */

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.title-vidaloka h1,
.title-vidaloka h2,
.title-vidaloka h3,
.title-vidaloka h4,
.title-vidaloka h5,
.title-vidaloka h6 {
    font-family: 'Vidaloka', serif;
}

.salon-head {
    position: relative;
    z-index: 1;
}

.salon-head .title {
    font-size: 45px;
    line-height: 1.3;
    margin-bottom: 10px;
    color: #3c3c3c;
    font-weight: unset;
}

.salon-head .sub-title {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    color: #3c3c3c;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.salon-head:after {
    content: attr(data-content);
    font-family: 'Kaushan Script', cursive;
    font-size: 150px;
    white-space: nowrap;
    opacity: 0.05;
    line-height: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: -80px;
    font-style: unset;
    z-index: -1;
}

.text-bg-white:after {
    color: #fff;
    opacity: 1;
}

.salon-about p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.salon-head.text-white .title,
.salon-head.text-white .sub-title,
.salon-head.text-white:after {
    color: #fff;
}

.salon-head.text-center:after {
    left: 0;
}

/* price */

.pricing-table {
    background: #fff;
    text-align: center;
    padding: 20px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing-table .price-plan span {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
}

.pricing-table .price-plan .price {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    color: #d19f68;
    font-size: 45px;
    line-height: 1.2;
}

.pricing-table ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 18px;
}

.pricing-table .join-now {
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.pricing-table ul li {
    padding: 2px 0;
    font-size: 15px;
    color: #666;
}

.salon-gallry-box {
    padding-left: 30px;
    position: relative;
    margin-bottom: 40px;
}

.salon-gallry-box .dlab-media .icon-bx-xs {
    position: absolute;
    bottom: 0;
    right: -50%;
    background: var(--color-primary);
    border-radius: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.salon-gallry-box:hover .dlab-media .icon-bx-xs {
    right: 0;
}

.salon-gallry-box .info {
    writing-mode: vertical-rl;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.salon-gallry-box .info .title {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.3;
}

/* Salon Team */

.salon-team {
    padding: 30px;
    background: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}

.salon-team:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: -1;
    background: #d19f68;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.salon-team .dlab-media {
    border: 8px solid #fff;
}

.salon-team .dlab-info {
    padding-top: 15px;
}

.salon-team .dlab-title {
    margin-bottom: 5px;
}

.salon-team .dlab-info .dlab-social-icon {
    margin-top: 15px;
}

.salon-team .dlab-info .dlab-social-icon li a {
    color: #000;
    background: #eee;
    width: 32px;
    height: 32px;
    line-height: 32px;
    padding: 0;
    border-radius: 4px;
    font-size: 16px;
}

.salon-team .dlab-info .dlab-social-icon li a:hover {
    color: #fff;
}

.salon-team .dlab-info .dlab-position {
    color: #d19f68;
    font-size: 15px;
    font-weight: 500;
    display: block;
}

/* Salon Service */

.salon-service .dlab-info {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: -30px;
    padding: 30px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 1;
}

.salon-service .dlab-info p {
    font-size: 16px;
    color: #777;
    line-height: 1.5;
}

.salon-service .dlab-title {
    margin-bottom: 15px;
}

.salon-service .dlab-title a {
    color: #3c3c3c;
}

.salon-service .dlab-title a i {
    display: inline-block;
    transform-origin: left;
    -moz-transform-origin: left;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    margin-right: 20px;
    color: #d19f68;
    transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}

/* salon-client */

.salon-client .testimonial-1 {
    text-align: left;
}

.salon-client .testimonial-1 .testimonial-pic {
    border: 0;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
}

.salon-client .testimonial-1 .testimonial-detail {
    padding: 8px 0 10px 90px;
    position: relative;
}

.salon-client .testimonial-1 .testimonial-text {
    padding: 0;
    margin-bottom: 40px;
}

.salon-client .testimonial-1 .testimonial-text p {
    font-family: 'Vidaloka', serif;
    color: #fff;
    font-size: 28px;
    font-style: italic;
    line-height: 1.5;
}

.salon-client .testimonial-1 .testimonial-name {
    color: #fff;
}

.salon-client.owl-theme .owl-dots {
    text-align: left;
    margin-top: 40px;
}

/* Salon Post */

.salon-post {
    position: relative;
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.salon-post:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.salon-post .dlab-info-has {
    padding: 30px 30px;
}

.salon-post .dlab-post-title .post-title {
    font-weight: 400;
    margin-bottom: 0;
}

.date-style-1 .post-date {
    background: #d19f68;
    color: #fff;
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 10px 15px 12px 15px;
    z-index: 1;
    outline: 1px dashed #fff;
    outline-offset: -5px;
}

.salon-post .dlab-post-meta ul li {
    letter-spacing: 1px;
}

.salon-post .dlab-post-title {
    margin-bottom: 0;
}

.date-style-1 .post-date strong {
    font-size: 40px;
    display: block;
    font-weight: 500;
    line-height: 1;
}

.date-style-1 .post-date span {
    display: block;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 2px;
    text-align: center;
}

/* Salon Footer */

.widget_time ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: -5px !important;
}

.widget_time ul li {
    padding: 10px 0;
}

.widget_time ul li span,
.widget_time ul li strong {
    width: 50%;
    display: inline-block;
    font-weight: inherit;
}

.salon-footer p {
    line-height: 2;
}

.salon-footer .widget_subscribe .input-group-addon {
    padding: 0;
    border: 0;
    background: transparent;
}

.salon-footer .widget_subscribe .form-control {
    border-radius: 4px 0 0 4px;
    border: 0;
    height: 45px;
    padding: 10px 20px;
    font-size: 14px;
}

.salon-footer .widget_subscribe .input-group-addon .btn {
    border-radius: 0 4px 4px 0;
    width: 45px;
    padding: 0;
    height: 45px;
}

.salon-footer {
    background-image: linear-gradient(to bottom, #514839, #383023);
}

.salon-footer .footer-bottom,
.salon-footer .footer-top {
    background-color: transparent;
}

/* Nail Art Home Page */

.nail-slider {
    padding-left: 85px;
    padding-right: 85px;
    background-color: #911439;
    position: relative;
    z-index: 1;
}

.nail-slider:after {
    content: "";
    background-color: #faefed;
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 85px;
    width: 100%;
    left: 0;
}

.nail-slider .main-slider .slide {
    height: calc(100vh - 85px);
}

.nail-slider .main-slider .title {
    font-size: 120px;
    font-weight: 400;
    color: #911439;
}

.nail-slider .main-slider .sub-title {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin-top: 15px;
}

.nail-slider .main-slider .slide .content {
    padding: 0;
    text-align: left;
    background: transparent;
    left: 10%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.nail-slider .main-slider .content span {
    font-family: 'Kaushan Script', cursive;
    color: #fff !important;
    font-size: 15vw;
    position: absolute;
    z-index: -1;
    top: -30%;
    left: -15%;
    opacity: 0.7;
}

.nail-header .header-nav .nav>li>a.nav-link {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 32px 10px 31px 10px;
    border: 0;
}

.nail-header .header-nav .nav>li>a:after {
    left: 12px;
    bottom: 30px;
}

.nail-header .header-nav .nav>li:hover>a:after,
.nail-header .header-nav .nav>li.active>a:after {
    width: calc(100% - 24px);
    left: 12px;
    bottom: 30px;
    z-index: -1;
    height: 16px;
    opacity: 0.2;
}

.nail-header .navbar-nav.nav1 li ul {
    text-align: left;
}

.portfolio-bx.style2 .overlay-bx {
    opacity: 1;
    visibility: visible;
}

.portfolio-bx.style2 .overlay-icon,
.portfolio-bx.style2 .mfp-link,
.portfolio-bx.style2 .title {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.portfolio-bx.style2 .mfp-link {
    width: 100px;
    height: 100px;
    display: block;
    font-size: 34px;
    line-height: 100px;
    text-align: center;
    background: var(--bg-color);
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
    transform: scale(0) rotate(360deg);
    -moz-transform: scale(0) rotate(360deg);
    -webkit-transform: scale(0) rotate(360deg);
    -ms-transform: scale(0) rotate(360deg);
    -o-transform: scale(0) rotate(360deg);
    background: #fff;
}

.portfolio-bx.style2 .overlay-icon {
    padding: 100px 70px 30px 30px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.portfolio-bx.style2:hover .mfp-link {
    transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
}

.portfolio-bx.style2 .overlay-bx {
    opacity: 1;
    visibility: visible;
}

.portfolio-bx.style2:hover .overlay-icon {
    opacity: 0;
}

.portfolio-bx.style2 .title {
    margin-bottom: 0;
}

.portfolio-bx.style2 .title a {
    color: #fff;
}

.portfolio-carousel .owl-prev,
.portfolio-carousel .owl-next {
    padding: 0 10px;
    background: transparent;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    margin: 0 15px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.section-splr {
    margin-right: 85px;
    margin-left: 85px;
}

.nail-service .dlab-media {
    border: 6px solid #fff;
    background: #fff;
}

.nail-service .dlab-info {
    padding: 30px 20px 0px 20px;
    background: #fff;
    margin-top: -60px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 1;
}

.nail-service .dlab-info p {
    font-size: 15px;
    color: #999;
}

.nail-service .dlab-info .dlab-title {
    margin-bottom: 5px;
}

.nail-service .dlab-info .btn {
    margin-left: -20px;
    margin-right: -20px;
    display: block;
    border-radius: 0;
}

.nail-post {
    background: #fff;
    padding: 10px;
    margin-bottom: 30px;
}

.nail-post .dlab-info {
    text-align: center;
    padding: 20px 10px 10px 10px;
}

.nail-post .dlab-info p {
    font-size: 15px;
    color: #999;
}

.nail-post .dlab-post-meta ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nail-post .dlab-post-meta li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: var(--color-primary);
}

.nail-post .dlab-post-meta li i {
    font-size: 20px;
}

.nail-post .dlab-post-meta li a {
    color: inherit;
}

.nail-post .dlab-post-meta {
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nail-post .post-title {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.4;
}

.nail-footer .dlab-separator {
    opacity: 0.2;
}

.nail-footer .list-inline li a {
    width: 45px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    line-height: 43px;
    border-radius: 45px;
    font-size: 18px;
}

.nail-footer .bg-primary a,
.spa-footer .footer-top a {
    color: #fff;
}

.nail-footer .list-inline li a:hover {
    color: #000;
    background: #fff;
}

.spa-footer .footer-top {
    padding: 50px 0 50px;
}

/* spa-post */

.blog-post.spa-post .dlab-post-meta {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 12px;
    position: relative;
}

.blog-post.spa-post .dlab-post-meta:after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.blog-post.spa-post .dlab-post-info {
    padding: 30px;
}

.blog-post.spa-post {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
}

.blog-post.spa-post .post-title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    line-height: 30px;
    font-size: 24px;
}

.blog-post.spa-post .dlab-post-readmore {
    margin-bottom: 0;
}

.blog-post.spa-post .dlab-post-meta ul li a {
    color: #000;
}

.blog-post.spa-post .dlab-post-meta ul li {
    padding: 0;
    display: inline-block;
    color: #000;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}

/* Team */

.spa-team .dlab-info .dlab-title {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 700;
}

.spa-team {
    background: #fff;
    padding: 10px 10px;
    border-radius: 4px;
}

.spa-team .dlab-info {
    text-align: center;
    padding: 20px 0;
}

.spa-team .dlab-info .dlab-position {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #000;
    opacity: .3;
    margin-bottom: 15px;
}

.spa-team .dlab-info .dlab-social-icon li a {
    width: 30px;
    height: 30px;
    background: var(--color-primary);
    font-size: 12px;
    line-height: 30px;
    padding: 0;
    border: 0;
    border-radius: 40px;
    color: #fff;
}

.blog-carousel .nail-post {
    margin-bottom: 0;
}

.blog-carousel .spa-post {
    margin-bottom: 10px;
}

/* Responsive */

@media only screen and (max-width: 1400px) {
    .nail-slider .main-slider .title {
        font-size: 90px;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .site-footer .footer-top {
        padding: 65px 0px;
    }
    .section-head.text-center {
        width: 100%;
    }
    .author-box.blog-user {
        margin: 0 -50px 0;
    }
    .section-head .title {
        font-size: 52px;
        line-height: 60px;
    }
    .menu-list .item-left {
        padding-right: 30px;
    }
    .menu-tabs.style1 .nav-tabs {
        margin-bottom: 30px;
        padding-top: 30px;
        top: 0;
    }
    .main-slider .slide .content {
        width: 60%;
        padding: 40px;
    }
    .main-slider .title {
        font-size: 50px;
        font-weight: 800;
    }
    .main-slider .sub-title {
        font-size: 28px;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .main-slider .content span {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .main-slider a {
        margin: 0 2px 5px 0px;
        font-size: 14px;
    }
    .about-area .about-content .title {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .about-area .about-left h2 {
        font-size: 70px;
    }
    .about-img:after {
        width: 100px;
        font-size: 50px;
        left: 30px;
    }
    .about-area .about-left {
        left: -45px;
    }
    .about-area .about-content {
        margin: 20px 0 0;
        padding: 35px;
    }
    .owner-profile {
        width: 90%;
    }
    .content-inner-3 {
        padding-top: 0;
        padding-bottom: 50px;
    }
    .salon-footer .footer-top {
        padding: 65px 0 20px;
    }
    .nail-slider .main-slider .title {
        font-size: 80px;
    }
    .nail-header .header-nav .nav>li>a.nav-link {
        letter-spacing: 0;
        padding: 24px 10px 24px 10px;
    }
    .nail-slider {
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-splr {
        margin-right: 15px;
        margin-left: 15px;
    }
    .portfolio-bx.style2 .overlay-icon {
        padding: 100px 20px 20px 20px;
    }
    .portfolio-bx.style2 .title {
        font-size: 26px;
        line-height: 1.4;
    }
    .nail-service .dlab-info .dlab-title {
        margin-bottom: 5px;
        font-size: 24px;
    }
    .nail-service .dlab-info {
        padding: 20px 20px 0px 20px;
    }
    .extra-nav {
        padding: 22px 0 22px 0px;
    }
}

@media only screen and (max-width: 991px) {
    .blog-post.blog-md .dlab-separator {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .blog-post.blog-md .post-title {
        font-size: 28px;
        line-height: 30px;
    }
    .sidemenu {
        margin-left: 220px;
    }
    .content-inner {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .service-box .dlab-tilte {
        font-size: 18px;
        line-height: 28px;
    }
    .service-box .icon-bx-xl img {
        height: 60px;
    }
    .service-box .icon-bx-xl {
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin-bottom: 10px;
    }
    .section-head .title {
        font-size: 36px;
        line-height: 40px;
    }
    .content-inner-2 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .menu-list .item-left {
        padding-right: 10px;
    }
    .menu-tabs .nav-tabs li a {
        padding: 15px 30px;
    }
    .menu-tabs .nav-tabs li a i {
        font-size: 40px;
        line-height: 40px;
    }
    .rating-box {
        margin: 0 0px;
    }
    .owner-profile .owner-name {
        font-size: 26px;
        line-height: 30px;
    }
    .owner-profile .owner-signature {
        font-size: 24px;
    }
    .section-head .main-title {
        font-size: 20px;
    }
    .menu-tabs.style1 .nav-tabs a {
        text-align: center;
        padding: 16px 10px 16px 10px;
    }
    .menu-tabs.style1 .nav-tabs .icon-bx {
        position: unset;
        margin: 0 auto 10px;
    }
    .menu-tabs.style1 .nav-tabs li h6 {
        margin-top: 5px;
    }
    .blog-post.blog-md .dlab-post-info {
        padding: 20px 20px;
    }
    .event-blog .post-sub-title {
        font-size: 16px;
        line-height: 16px;
    }
    .blog-post.blog-md .post-title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 0px;
    }
    .dlab-post-meta,
    .dlab-post-meta ul {
        margin-bottom: 10px;
    }
    .contact-reserve .contact-text {
        padding: 30px;
    }
    .contact-reserve .contact-text .title {
        font-size: 35px;
        line-height: 35px;
    }
    .main-slider .title {
        font-size: 42px;
    }
    .main-slider .sub-title {
        font-size: 24px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .main-slider span {
        font-size: 18px;
    }
    .main-slider .slide .content {
        padding: 30px;
        width: 70%;
    }
    .blog-post.blog-single .post-title {
        font-size: 40px;
        line-height: 50px;
    }
    .menu-list li {
        width: 100%;
    }
    .about-area .about-left h2 {
        font-size: 52px;
    }
    .about-area .about-left {
        left: -35px;
    }
    .about-img:after {
        width: 80px;
        font-size: 36px;
        left: 35px;
    }
    .about-area .about-img {
        padding-left: 125px;
    }
    .about-area .about-content {
        margin: 0px 0 0;
    }
    .site-filters {
        margin-bottom: 30px;
    }
    .contact-form-box .contact-form,
    .contact-form-box .contact-info .contact-info-inner {
        padding: 40px;
    }
    .lightgallery>div:first-child {
        align-self: flex-end;
    }
    .lightgallery>div:nth-child(3n) {
        align-self: baseline;
    }
    .salon-head:after {
        font-size: 70px;
    }
    .pricing-table .price-plan .price {
        font-size: 36px;
    }
    .salon-client .testimonial-1 .testimonial-text p {
        font-size: 24px;
    }
    .extra-nav {
        padding: 24px 0 24px 0px;
    }
    .nail-slider .main-slider .title {
        font-size: 60px;
    }
    .nail-slider {
        padding-left: 30px;
        padding-right: 30px;
    }
    .nail-slider .main-slider .sub-title {
        font-size: 18px;
    }
    .nail-slider .main-slider .slide {
        height: 500px;
    }
    .nail-slider .main-slider .content span {
        font-size: 13vw;
        left: -10%;
    }
    .section-splr {
        margin-right: 30px;
        margin-left: 30px;
    }
    .site-header.center .header-nav .nav2 {
        padding-top: 0;
    }
    .site-header.center .header-nav .nav1 {
        text-align: center;
        padding-bottom: 0;
    }
    .nail-header .navbar-nav.nav1 li ul {
        text-align: center;
    }
    .section-head {
        margin-bottom: 30px;
    }
    .nail-header .header-nav .nav>li>a.nav-link {
        letter-spacing: 0;
        padding: 10px 10px 10px 10px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .blog-post.blog-md .dlab-post-info {
        padding: 0 0 0 20px;
    }
    .sidemenu {
        margin-left: 0;
    }
    .menu-tabs.style1 .nav-tabs li {
        width: 100%;
    }
    .menu-tabs.style1 .nav-tabs a {
        background-color: #3d3833;
        border-bottom: 1px solid #534d47;
    }
    .site-footer .footer-top .text-left,
    .site-footer .footer-top .text-right {
        text-align: center !important;
    }
    .site-footer .footer-social {
        margin-top: 15px;
    }
    .site-footer .footer-top {
        padding: 30px 0px;
    }
    .content-inner {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .content-inner-2 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .menu-tabs.style1 {
        padding-bottom: 30px;
    }
    .menu-tabs.style1 .nav-tabs {
        margin: 0 0 -70px;
    }
    .dlab-bnr-inr h1 {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 5px;
    }
    .dlab-bnr-inr .sub-title {
        font-size: 18px;
        line-height: 18px;
    }
    .dlab-bnr-inr {
        height: 300px;
    }
    .section-head .title {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 5px;
    }
    .section-head .sub-title {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .event-blog .post-title {
        font-size: 25px;
        line-height: 28px;
    }
    .event-blog .dlab-separator {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .blog-post.blog-md .post-title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .blog-post.blog-md .dlab-separator {
        margin-bottom: 10px;
    }
    .blog-post.blog-single .post-title {
        font-size: 32px;
        line-height: 32px;
    }
    .dlab-bnr-inr .blog-post.blog-single {
        padding-top: 60px;
    }
    .dlab-bnr-inr-entry {
        padding-bottom: 0;
    }
    .event-head-details h1 {
        text-align: left;
    }
    .event-head-details .sub-title {
        margin-bottom: 15px;
    }
    .contact-box-reversed {
        flex-direction: column-reverse;
    }
    .menu-tabs.style1 .nav-tabs .icon-bx {
        width: 30px;
        position: absolute;
        left: 15px;
        top: 12px;
    }
    .menu-tabs.style1 .nav-tabs a {
        text-align: left;
        padding: 10px 15px 10px 60px;
    }
    .menu-tabs.style1 .nav-tabs li h4 {
        font-size: 15px;
        margin-bottom: 0;
        line-height: 17px;
    }
    .menu-tabs.style1 .nav-tabs {
        margin: 0 0px 30px;
        top: 0;
    }
    .blog-post.blog-md .post-title {
        font-size: 18px;
    }
    .blog-post.blog-md:not(.event-blog) {
        display: block;
    }
    .blog-post.blog-md:not(.event-blog) .dlab-post-media,
    .blog-post.blog-md:not(.event-blog) .dlab-post-info {
        display: block;
        width: 100%;
        min-width: 100%;
    }
    .blog-post.blog-md:not(.event-blog) .dlab-post-info {
        padding: 0;
    }
    .contact-form {
        padding: 0;
    }
    .service-box.style1 {
        padding: 0 10px 15px;
    }
    .contact-form-box {
        margin: -100px 0 0;
    }
    .logo-header {
        padding: 10px 0;
    }
    .salon-footer .footer-top {
        padding: 40px 0 0;
    }
    .salon-service .dlab-info p {
        font-size: 15px;
    }
    .salon-service .dlab-title {
        font-size: 24px;
    }
    .nail-slider .main-slider .slide {
        height: 350px;
    }
    .nail-slider .main-slider .title {
        font-size: 50px;
    }
    .nail-slider .main-slider .content span {
        font-size: 10vw;
        top: -40px;
    }
    .nail-slider .main-slider .sub-title {
        font-size: 16px;
    }
    .portfolio-bx.style2 .title {
        font-size: 24px;
        line-height: 34px;
    }
    .nail-footer .footer-top {
        padding: 30px 0px 10px;
    }
    .main-slider a {
        display: none;
    }
    .salon-service .dlab-info {
        margin-right: 0;
        margin-left: 0px;
        margin-top: 0;
        padding: 20px;
    }
}

@media only screen and (max-width: 591px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-head .title,
    .dlab-bnr-inr h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .section-head .sub-title,
    .dlab-bnr-inr .sub-title {
        font-size: 18px;
        line-height: 18px;
    }
    .dlab-bnr-inr {
        height: 200px;
    }
    .section-head {
        margin-bottom: 20px;
    }
    .blog-post.blog-md .dlab-post-readmore a {
        display: block;
    }
    .blog-post.blog-single .post-title {
        font-size: 26px;
        line-height: 26px;
    }
    .author-box.blog-user {
        margin: 0 -30px 0;
    }
    .author-box.blog-user {
        padding: 15px 30px;
        display: block;
    }
    .author-box.blog-user .btn {
        display: block;
        margin-top: 10px;
    }
    .event-head-details {
        width: 100%;
    }
    .event-head-details p {
        font-size: 12px;
    }
    .event-head-details .sub-title {
        margin-bottom: 15px;
    }
    .blog-single.blog-post .dlab-post-text {
        margin-top: 20px;
    }
    .contact-reserve .contact-text {
        padding: 30px;
    }
    .contact-reserve .contact-text .title {
        font-size: 36px;
        line-height: 40px;
    }
    .contact-reserve .contact-text .sub-title {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    .menu-tabs .nav-tabs li a {
        padding: 10px 15px;
        letter-spacing: 1px;
    }
    .menu-tabs .nav-tabs {
        margin-bottom: 10px;
    }
    .main-slider .title {
        font-size: 32px;
    }
    .main-slider .sub-title {
        font-size: 18px;
    }
    .main-slider span {
        font-size: 16px;
    }
    .main-slider a {
        margin: 3px 2px;
        padding: 10px 20px;
        font-size: 13px;
    }
    .main-slider .slide {
        height: 500px;
    }
    .main-slider .slide {
        background-position: right;
    }
    .blog-post.blog-single {
        margin-bottom: 0;
    }
    .main-slider .slide .content {
        padding: 30px 20px;
    }
    .about-area .about-img {
        padding-left: 85px;
    }
    .about-area .about-left h2 {
        font-size: 32px;
    }
    .about-img:after {
        width: 60px;
        font-size: 28px;
        left: 15px;
    }
    .about-area .about-content {
        padding: 30px;
    }
    .menu-list li .price {
        font-size: 20px;
    }
    .menu-list li .title {
        font-size: 14px;
    }
    .menu-list li {
        padding: 15px 10px 20px;
    }
    .site-filters.style1 li a {
        padding: 6px 10px 4px;
        line-height: 20px;
        font-size: 16px;
    }
    blockquote {
        font-size: 16px;
        line-height: 28px;
    }
    .alignleft {
        width: 100%;
        margin: 5px 0 15px 0;
    }
    .alignright {
        width: 100%;
        margin: 5px 0 15px 0;
    }
    .blog-single .dlab-post-tags {
        margin-bottom: 20px;
    }
    .comments-area .comments-title {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 20px;
    }
    .contact-form-box .contact-form,
    .contact-form-box .contact-info .contact-info-inner {
        padding: 30px;
    }
    .contact-form-box {
        margin: -70px 0 0;
    }
    .appointment-form {
        padding: 30px;
    }
    #rc-imageselect,
    .g-recaptcha {
        margin-bottom: -20px;
    }
    .service-box .icon-bx-xl i {
        font-size: 60px;
    }
    .video-bnr .title {
        font-size: 12vw;
    }
    .video-bnr {
        height: 50vh;
    }
    .video-bnr .sub-title {
        font-size: 20px;
    }
    .fc-button.fc-state-default {
        padding: 5px 8px;
        font-size: 12px;
    }
    .fc-toolbar .fc-center h2 {
        font-size: 28px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .date-style-1 .post-date span {
        font-size: 12px;
    }
    .date-style-1 .post-date strong {
        font-size: 30px;
    }
    .salon-client .testimonial-1 .testimonial-text p {
        font-size: 20px;
    }
    .salon-client .testimonial-1 .testimonial-text {
        margin-bottom: 25px;
    }
    .salon-client.owl-theme .owl-dots {
        margin-top: 25px;
    }
    .salon-head .title {
        font-size: 32px;
        line-height: 40px;
    }
    .salon-head::after {
        font-size: 50px;
    }
    .salon-head .sub-title {
        font-size: 14px;
        line-height: 14px;
    }
    .pricing-table {
        margin-bottom: 10px;
    }
    .nail-slider {
        padding-left: 15px;
        padding-right: 15px;
    }
    .nail-slider .main-slider .title {
        font-size: 24px;
    }
    .section-splr {
        margin-right: 15px;
        margin-left: 15px;
    }
    .nail-slider .main-slider .slide .content .btn {
        display: none;
    }
    .nail-slider .main-slider .slide {
        height: 220px;
    }
    .nail-slider .main-slider .content span {
        display: none;
    }
    .nail-slider .main-slider .sub-title {
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.5;
    }
    .fc-day-header.fc-widget-header {
        padding: 8px 5px;
    }
}

.widget_subscribe form {
    position: relative;
}

.widget_subscribe form .dzSubscribeMsg {
    position: absolute;
    bottom: -40px;
    left: 0;
}

.widget_subscribe form .dzSubscribeMsg p {
    line-height: 20px;
    margin-bottom: 0;
    font-size: 14px;
}